.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-right button{
    font-size: 13px;
    border: 2px solid #49557e;
    padding: 5px;
    border-radius: 9px;
    cursor: pointer;
}

.navbar-menu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar-right search-icon{
    
}